.search {
    padding: 1rem;
    box-sizing: border-box;
    max-height: 40%;
    width: 100%;
    overflow-y: hidden;
}

.search:hover {
    overflow-y: overlay;
    transition: all .3s;
}

.search::-webkit-scrollbar {
    width: 10px;
    transition: all .3s;
}
  
/* Track */
.search::-webkit-scrollbar-track {
    background: transparent;
}
  
/* Handle */
.search::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-top: solid 2px var(--white-color);
    border-bottom: solid 2px var(--white-color);
}

.searchRes {
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: .3rem;
    height: 2rem;
    overflow: hidden;
}

.userName {
    margin: 0;
    color: var(--grey-color);
    font-weight: normal;
}

.searchRes img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: .5rem;
}

.postLink {
    width: 100%;
    color:var(--grey-color);
    transition: all .3s;
}

.searchRes:hover {
    border-radius: 5px;
    background-color: var(--light-color);
    transition: all .3s;
}

.postLink a {
    width: 100%;
    color:var(--grey-color);
}

.noRes {
    width: 100%;
    height: 1.5rem;
    text-align: center;
    margin: 0;
}

.spinnerDiv {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 850px) {
    .search {
        padding: 1rem;
        box-sizing: border-box;
        max-height: 50%;
        width: 100%;
        overflow-y: hidden;
    }
}

/* DARK MODE CLASSES */

.searchDark {
    padding: 1rem;
    box-sizing: border-box;
    max-height: 40%;
    width: 100%;
    overflow-y: hidden;
}

.searchDark:hover {
    overflow-y: overlay;
    transition: all .3s;
}

.searchDark::-webkit-scrollbar {
    width: 10px;
    transition: all .3s;
}
  
/* Track */
.searchDark::-webkit-scrollbar-track {
    background: transparent;
}
  
/* Handle */
.searchDark::-webkit-scrollbar-thumb {
    background: var(--main-dark-color);
    border-top: solid 2px var(--main-very-dark-color);
    border-bottom: solid 2px var(--main-very-dark-color);
}

.searchResDark {
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: .3rem;
    height: 2rem;
    overflow: hidden;
}

.userNameDark {
    margin: 0;
    color: var(--white-color);
    font-weight: normal;
}

.searchResDark img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: .5rem;
}

.postLinkDark {
    width: 100%;
    color: var(--white-color);
    transition: all .3s;
}

.searchResDark:hover {
    border-radius: 5px;
    background-color: var(--very-dark-color);
    transition: all .3s;
}

.postLinkDark a {
    width: 100%;
    color: var(--white-color);
}

.noResDark {
    width: 100%;
    height: 1.5rem;
    text-align: center;
    margin: 0;
}

@media (max-width: 850px) {
    .searchDark {
        padding: 1rem;
        box-sizing: border-box;
        max-height: 50%;
        width: 100%;
        overflow-y: hidden;
    }
}

