.userSidePanel {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.userArea {
    width: 100%;
    height: 10rem;
    background-color: var(--main-color);
    /*border-bottom: solid 1px #E6E4E3;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userArea img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.userArea h1 {
    font-size: 18px;
    font-family: 'Manrope', sans-serif;
    font-weight: normal;
    color:var(--white-color);
    text-transform: capitalize;
    margin: 0;
    margin-top: .3rem;
}

.userStuff {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;
    width: 95%;
    margin-top: 1rem;
}

.nav {
    text-decoration: none;
    width: 100%;
    height: 100%;
    margin-bottom: 2px;
    cursor: pointer;
}

.item {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 100%;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 3.3rem;
    transition: all .3s; 
}

.item:hover {
    background-color: var(--light-color);
    transition: all .3s;
}

.item a {
    text-decoration-color: transparent;
}

.item h3 {
    text-decoration: none;
    font-size: 16px;
    color:var(--grey-color);
    font-family: 'Manrope', sans-serif;
    margin:0;
    font-weight: normal;
    transition: all .3s;
}

.item svg {
    width: 1.9rem;
    height: 1.9rem;
    fill: var(--grey-color);
    margin-right: 1rem;
}

.active {
    border-radius: 5px;
    background-color: var(--light-color);
}

.item:hover svg {
    fill: var(--main-color);
    transition: all .3s;
}

.item:hover h3 {
    color: var(--main-color);
    transition: all .3s;
}

:global(.outlineUser) {

}

:global(.fillUser) {
    display: none;
}

.active :global(.outlineUser) {
    display: none;
}

.active :global(.fillUser) {
    display: block;
}

.active svg {
    fill: var(--main-color);
}

.active h3 {
    fill: var(--main-color);
}

.likes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    font-weight: normal;
}

.like {
    color: var(--white-color);
    margin-right: 1rem;
    font-weight: normal;
    margin-bottom: 0;
}

.friend {
    color: var(--white-color);
    font-weight: normal;
    margin-bottom: 0;
}

@media (max-width: 1200px) {
    .item {
        padding-left: 2rem;
    }
}

@media (max-width: 1000px) {
    .item {
        padding-left: 1rem;
    }
}

/* DARK MODE CLASSES */

.userSidePanelDark {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.userAreaDark {
    width: 100%;
    height: 10rem;
    background-color: var(--main-color);
    /*border-bottom: solid 1px #E6E4E3;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.topDark {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userAreaDark img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.userAreaDark h1 {
    font-size: 18px;
    font-family: 'Manrope', sans-serif;
    font-weight: normal;
    color:var(--white-color);
    text-transform: capitalize;
    margin: 0;
    margin-top: .3rem;
}

.userStuffDark {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;
    width: 95%;
    margin-top: 1rem;
}

.navDark {
    text-decoration: none;
    width: 100%;
    height: 100%;
    margin-bottom: 2px;
    cursor: pointer;
}

.itemDark {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 100%;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 3.3rem;
    transition: all .3s; 
}

.itemDark:hover {
    background-color: var(--main-very-dark-color);
    transition: all .3s;
}

.itemDark a {
    text-decoration-color: transparent;
}

.itemDark h3 {
    text-decoration: none;
    font-size: 16px;
    color:var(--white-color);
    font-family: 'Manrope', sans-serif;
    margin:0;
    font-weight: normal;
    transition: all .3s;
}

.itemDark svg {
    width: 1.9rem;
    height: 1.9rem;
    fill: var(--white-color);
    margin-right: 1rem;
}

.activeDark {
    border-radius: 5px;
    background-color: var(--main-very-dark-color);
}

.itemDark:hover svg {
    fill: var(--main-color);
    transition: all .3s;
}

.itemDark:hover h3 {
    color: var(--main-color);
    transition: all .3s;
}

.activeDark svg {
    fill: var(--main-color);
}

.activeDark h3 {
    fill: var(--main-color);
}

.likesDark {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    font-weight: normal;
}

.likeDark {
    color: var(--white-color);
    margin-right: 1rem;
    font-weight: normal;
    margin-bottom: 0;
}

.friendDark {
    color: var(--white-color);
    font-weight: normal;
    margin-bottom: 0;
}

@media (max-width: 1200px) {
    .itemDark {
        padding-left: 2rem;
    }
}

@media (max-width: 1000px) {
    .itemDark {
        padding-left: 1rem;
    }
}

.activeDark :global(.outlineUser) {
    display: none;
}

.activeDark :global(.fillUser) {
    display: block;
}

